<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div>
        <span>
            <a href="{%url 'seller:add_cake_product'%}">add product</a>
            <a href="{%url 'auth:logout'%}">logout</a>
            <a href="{%url 'seller:view_products'%}">my poduct list</a>
            <a href=""></a>
        </span>
    </div>
</body>
</html>